<div class="conteiner-terciario">
    <section class="itensFalta_fornecedores">
        <div>
            <h2>Itens em Falta</h2>
            <div class="itensFalta_fornecedores__linha">
                <div>
                    <div>
                        <h4>Item</h4>
                    </div>
                </div>
                <div>
                    <div>
                        <h4>Quantidade</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>